body {
font-family: ;
background-color: black;

}
img{
  float:left;
}

h2{
  color:hsl(30,4.3%,91%);
  text-align: center;
  font-size: 40px;
  float:left;
 
}
h3{
  color:hsl(30,4.3%,91%);
  font-size: 10px;
 
}

 .container {
  background-color: hsl(240,17.8%,25.3%);
  height: 320px;
  width:640px;
   margin:50px;
    
}
.information{
  float:left;
  display:inline;
  text-align:center
  
